<!-- Login -->
    <header class="logreg-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 center-block">
                        <form class="login-form" name="loginForm" ng-submit="vm.login()">
                            <h3>Zaloguj się</h3>

                            <div class="input-group">
                                <input type="text" class="form-control" name="username" ng-model="vm.account.username" placeholder="Login"/>
                                <span class="input-group-addon"> <i class="fa fa-user" aria-hidden="true"></i></span>
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <input type="password" class="form-control" name="password" ng-model="vm.account.password" placeholder="Hasło"/>
                                <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                            </div><!-- /.input-group -->

                            <button class="btn btn-1 btn-block" type="submit">Zaloguj</button>
                        </form><!-- /.login-form -->

                        <div class="alert" ng-show="vm.loginError">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            {{vm.errorMessage}}
                        </div><!-- /.alert -->
                    </div><!-- /.col-md-6 -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.input-group -->
        </div><!-- /.container -->
    </header><!-- /.logreg-header -->