<!-- User orders -->

    <section class="orders">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Zamówienia</h1>

                    <div ng-show="vm.orders.length == 0" class="alert">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Brak dostępnych zamówień!
                    </div>

                    <div class="single-order" ng-show="vm.orders.length > 0" ng-repeat="order in  vm.orders track by order.id">
                        <div class="panel">
                            <div class="panel-heading open">
                                <span class="pull-left">OCZEKUJE NA ZAAKCEPTOWANIE</span>

                                <span class="pull-right">{{order.orderDate}}</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <h3>Miejsce odbioru</h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Miasto</th>
                                        <th>Ulica</th>
                                        <th>Kod pocztowy</th>
                                        <th>Numer domu</th>
                                        <th>Numer mieszkania</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>{{order.source.city}}</td>
                                        <td>{{order.source.street}}</td>
                                        <td>{{order.source.postalCode}}</td>
                                        <td>{{order.source.homeNumber}}</td>
                                        <td>{{order.source.apartmentNumber}}</td>
                                    </tr>

                                    </tbody>
                                </table>

                                <hr>

                                <h3>Miejsce docelowe</h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Miasto</th>
                                        <th>Ulica</th>
                                        <th>Kod pocztowy</th>
                                        <th>Numer domu</th>
                                        <th>Numer mieszkania</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{order.destination.city}}</td>
                                        <td>{{order.destination.street}}</td>
                                        <td>{{order.destination.postalCode}}</td>
                                        <td>{{order.destination.homeNumber}}</td>
                                        <td>{{order.destination.apartmentNumber}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <hr>
                                <h3>Dostępni kierowcy</h3>

                                <div class="drivers">
                                    <ul>
                                        <li ng-repeat="driver in vm.drivers">
                                            <input type="radio" id="{{driver.id}}" name="option" ng-click="vm.selectDriver(driver.id)">
                                            <label for="{{driver.id}}">{{driver.name}}</label>
                                            <div class="check"><div class="inside"></div></div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="pull-right"
                                     uib-tooltip="Aby zaakceptować zamównienie musisz wybrać kierowcę"
                                     tooltip-append-to-body="true"
                                     tooltip-enable="vm.driver == ''"
                                     tooltip-placement="bottom">

                                    <button class="btn btn-3" ng-click="vm.submitDriver(order)" ng-disabled="vm.driver == ''"><i class="fa fa-check" aria-hidden="true"></i> Zatwierdź</button>
                                </div>

                            </div><!-- /.panel-body-->
                            <div class="panel-footer open">
                                        <span class="pull-right">
                                            <span ng-if="order.serviceType == 1">Zlecenie Jednorazowe</span>
                                            <span ng-if="order.serviceType == 2">Zlecenie Stałe</span>
                                        </span>
                                <div class="clearfix"></div>
                            </div>
                        </div><!-- /.panel -->
                    </div><!-- /.single-order -->
                </div><!-- /.col-md-12-->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.orders -->