/* Home */

/* Header */
  header {
    background-image: url("img/header.jpg");
    width: 100%;
    min-height: 100%;
    z-index: 100;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%);

    .order-form {
      margin-top: 135px;
      margin-bottom: 50px;
      padding: 20px;
      background-color: rgba(0,0,0, 0.6);

      input::-webkit-input-placeholder {
        color: darken($bg-gray, 25%);
      }
      input::-moz-placeholder {
        color: darken($bg-gray, 25%);
      }
      input:-ms-input-placeholder {
        color: darken($bg-gray, 25%);
      }
      input:-moz-placeholder {
        color: darken($bg-gray, 25%);
      }

      input:focus::-webkit-input-placeholder {
        color: $bg-dark;
      }
      input:focus::-moz-placeholder {
        color: $bg-dark;
      }
      input:focus:-ms-input-placeholder {
        color: $bg-dark;
      }
      input:focus:-moz-placeholder {
        color: $bg-dark;
      }

      h3 {
        margin-top: 0;
        padding-top: 10px;
        color: darken($bg-gray, 10%);
      }

      .input-group {
        margin-bottom: 15px;

        .form-control, .input-group-addon {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border: 0;
          background: rgba(255,255,255, 0.1);
          color: rgba(255, 255, 255, 0.8);
          box-shadow: none;
          padding: 6px 12px;

        }//.form-control, .input-group-addon
        .form-control {
          transition: all 0.4s;

          &:focus {
            outline: none;
            background: rgba(255, 255, 255, 0.8);
            color: $bg-dark;
          }
        }//.form-control

        i {
          font-size: 18px;
        }
      }//.input-group

      ul {
        margin-left: -40px;
        margin-top: -30px;
      }
      ul li{
        color: darken($bg-gray, 20%);
        display: block;
        position: relative;
        float: left;
        padding: 15px 0;
      }

      ul li input[type=radio]{
        position: absolute;
        visibility: hidden;
      }

      ul li label{
        display: block;
        position: relative;
        padding: 0 30px;
        margin: 10px auto;
        height: 30px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
      }

      ul li:hover label{
        color: $theme-color;
      }

      ul li .check{
        display: block;
        position: absolute;
        border: 4px solid #AAAAAA;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        top: 25px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
      }

      ul li:hover .check {
        border: 4px solid $theme-color;
      }

      ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 8px;
        top: 2px;
        left: 2px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
      }

      input[type=radio]:checked ~ .check {
        border: 4px solid $theme-color;
      }

      input[type=radio]:checked ~ .check::before{
        background: $theme-color;
      }

      input[type=radio]:checked ~ label{
        color: $theme-color;
      }
    }//.order-form

    .order-alerts {
      margin-top: 140px;
      width: 100%;
      opacity: 0.8;

      .alert {
        position: relative;
        background-color: $theme-color;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }

      .alert:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-right-color: $theme-color;
        border-width: 10px;
        border-bottom-width: 10px;
        margin-top: -10px;
      }
    }

  }//header

/* Special Services */
  .special-services {
    margin-top: 40px;
    margin-bottom: 80px;

    .icon-bg {
      width: 100%;
      height: 150px;
      background-color: $theme-color;

      i {
        font-size: 100px;
        padding: 25px 0;
        color: $bg-light;
      }
    }//.icon-bg
  }//.special-services


/* Our Clients */
  .our-cliets {
    .our-clients-bg {
      background-color: $bg-gray ;

      .clients-logos {
        margin: 30px 0 0 0;
      }

    }//.our-clients-bg
  }//.our-clients

/* Map */
  .map {
    position: relative;
    background-color: $bg-gray ;

    #googleMap {
      -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
      width: 100%;
      height: 650px;
    }

    .map-label {
      background-color: $theme-color;
      position: absolute;
      top: 100px;
      width: 400px;

      h1 {
        margin-left: 15px;
        margin-right: 15px;
        font-weight: bold;
        color: $bg-dark;
      }
    }//.map-label
  }//.map

/* Footer */
  footer {
    border-top: 1px solid $theme-color;
    height: 70px;
    background-color: $bg-dark;
    color: $bg-light;
    text-transform: uppercase;
    padding: 25px 20px;

    span {
      color: $theme-color;
    }
  }