/* Login & Register*/

  .logreg-header {
    -webkit-clip-path: none !important;
    clip-path: none !important;

    .alert {
      margin-top: 20px;
      background-color: $theme-color;
      border-radius: 0;
      opacity: 0.8;
    }//.alert
  }

  .login-form {
    margin-top: 60%;

    .input-group {
      margin-bottom: 15px;
    }//.input-group

    }

  .register-form {
    margin-top: 30%;

    .input-wrapper {
      margin-bottom: 15px;
    }
  }//.register

  .login-form, .register-form {
    background-color: rgba(0,0,0, 0.7);
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 25px;

    ::-webkit-calendar-picker-indicator { background: $transparent; }

    input::-webkit-input-placeholder {
      color: darken($bg-gray, 25%);
    }
    input::-moz-placeholder {
      color: darken($bg-gray, 25%);
    }
    input:-ms-input-placeholder {
      color: darken($bg-gray, 25%);
    }
    input:-moz-placeholder {
      color: darken($bg-gray, 25%);
    }

    input:focus::-webkit-input-placeholder {
      color: $bg-dark;
    }
    input:focus::-moz-placeholder {
      color: $bg-dark;
    }
    input:focus:-ms-input-placeholder {
      color: $bg-dark;
    }
    input:focus:-moz-placeholder {
      color: $bg-dark;
    }

    h3 {
      margin-top: 0;
      color: darken($bg-gray, 10%);
    }

      .form-control, .input-group-addon {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0;
        background: rgba(255,255,255, 0.1);
        color: rgba(255, 255, 255, 0.8);
        box-shadow: none;

        i {
          font-size: 18px;
        }

      }//.form-control, .input-group-addon
      .form-control {
        transition: all 0.4s;

        &:focus {
          outline: none;
          text-shadow: none;
          background: rgba(255, 255, 255, 0.8);
          color: $bg-dark;
        }
      }//.form-control

    .error-text {
      color: $theme-color;
    }
  }//.login-form, .register-form