/* Orders */

  .orders {
    margin: 40px 0;

    .alert {
      background-color: $theme-color;
      border-radius: 0;

      .alert-link {
        color: $bg-dark;
      }
    }//.alert

    .panel, .panel-body, .panel-heading, .panel-footer {
      border: none;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
    }

    .panel-body {
      background-color: lighten($bg-gray, 5%) !important;
    }

    .panel {
      margin-bottom: 40px !important;

      hr {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .open{
        background-color: $bg-dark;
        color: $bg-light;
      }

      .in-process {
        background-color: $theme-color;
        color: $bg-dark;
      }

      .finished {
        background-color: $bg-gray;
        color: $bg-dark;
      }
    }//.panel

    .distance {
      margin-right: 20px;
    }

    .btn {
      margin-right: 0 ;
    }

    .drivers {
      background-color: $bg-gray;
      padding: 20px;
      margin-bottom: 15px;

      ul {
        margin-left: -30px;
        margin-top: 0;
      }
      ul li{
        color: darken($bg-gray, 20%);
        display: block;
        position: relative;
        float: left;
      }

      ul li input[type=radio]{
        position: absolute;
        visibility: hidden;
      }

      ul li label{
        display: block;
        position: relative;
        padding: 0 30px;
        z-index: 9;
        cursor: pointer;
        color: $bg-dark;
        -webkit-transition: all 0.25s linear;

      }

      ul li:hover label{
        color: #337ab7;
      }

      ul li .check{
        display: block;
        position: absolute;
        border: 4px solid $bg-dark;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        top: 0;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
      }

      ul li:hover .check {
        border: 4px solid #337ab7;
      }

      ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 8px;
        top: 2px;
        left: 2px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
      }

      input[type=radio]:checked ~ .check {
        border: 4px solid #337ab7;
      }

      input[type=radio]:checked ~ .check::before{
        background: #337ab7;
      }

      input[type=radio]:checked ~ label{
        color: #337ab7;
      }
    }//.drivers


    .input-group {
      margin-bottom: 15px;

      input::-webkit-input-placeholder {
        color: darken($bg-gray, 40%);
      }
      input::-moz-placeholder {
        color: darken($bg-gray, 40%);
      }
      input:-ms-input-placeholder {
        color: darken($bg-gray, 40%);
      }
      input:-moz-placeholder {
        color: darken($bg-gray, 40%);
      }

      input:focus::-webkit-input-placeholder {
        color: darken($bg-gray, 30%);
      }
      input:focus::-moz-placeholder {
        color: darken($bg-gray, 30%);
      }
      input:focus:-ms-input-placeholder {
        color: darken($bg-gray, 30%);
      }
      input:focus:-moz-placeholder {
        color: darken($bg-gray, 30%);
      }

      .form-control, .input-group-addon {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 1px solid $bg-dark;
        background-color: $bg-light ;
        color: $bg-dark;
        box-shadow: none;
        height: 40px;
        padding: 6px 12px;

      }//.form-control, .input-group-addon


      .input-group-addon {
        border-left: none;
      }

      .form-control {
        border-right: none;
        &:focus {
          outline: 0;
          background:  $bg-dark;
          color: $bg-gray;
          line-height: 40px;
        }
      }//.form-control

      i {
        color: $bg-dark;
        font-size: 18px;
      }
    } //.input-group
  }//.orders