/* Users list */
  .users-list {
    margin-bottom: 40px;

      .input-group {
        margin-bottom: 15px;

        input::-webkit-input-placeholder {
          color: darken($bg-gray, 40%);
        }
        input::-moz-placeholder {
          color: darken($bg-gray, 40%);
        }
        input:-ms-input-placeholder {
          color: darken($bg-gray, 40%);
        }
        input:-moz-placeholder {
          color: darken($bg-gray, 40%);
        }

        input:focus::-webkit-input-placeholder {
          color: darken($bg-gray, 30%);
        }
        input:focus::-moz-placeholder {
          color: darken($bg-gray, 30%);
        }
        input:focus:-ms-input-placeholder {
          color: darken($bg-gray, 30%);
        }
        input:focus:-moz-placeholder {
          color: darken($bg-gray, 30%);
        }

        .form-control, .input-group-addon {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border: 1px solid $bg-dark;
          background-color: $bg-light ;
          color: $bg-dark;
          box-shadow: none;
          height: 40px;
          padding: 6px 12px;

        }//.form-control, .input-group-addon


        .input-group-addon {
          border-left: none;
        }

        .form-control {
          border-right: none;
          &:focus {
            outline: 0;
            background:  $bg-dark;
            color: $bg-gray;
            line-height: 40px;
          }
        }//.form-control

        i {
          color: $bg-dark;
          font-size: 18px;
        }
      } //.input-group

      table {
        margin-top: 40px;
        margin-bottom: 50px;

        thead>tr {
          background-color: $bg-dark;
          color: $bg-light;
        }

        tbody>tr>td {
          border-top: 1px solid darken($bg-gray, 10%);
        }

        tbody>tr:nth-child(even)>td,
        tbody>tr:nth-child(even)>th{
          background-color: $bg-light;
        }

        tbody>tr:nth-child(odd)>td,
        tbody>tr:nth-child(odd)>th{
          background-color: $bg-light;
        }
      }//table
  }//.users-list