
$theme-color: #ffe11c;
$bg-light: #fff;
$bg-dark: #1c1c1b;
$bg-gray: #edecec;
$transparent: rgba(255, 255, 255, 0);

$base-size: 14px;
$h1-size: $base-size*2.2;
$h2-size: $base-size*1.7;
$h3-size: $base-size*1.15;
$h4-size: $base-size;

$btn-text-size: $base-size;