<!-- User orders -->

    <section class="orders">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Zamówienia</h1>

                    <div ng-show="vm.orders.length == 0" class="alert" role="alert">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Brak dostępnych zamówień!
                    </div>

                    <div class="single-order" ng-show="vm.orders.length > 0" ng-repeat="order in  vm.orders track by order.id">
                        <div class="panel">
                            <div class="panel-heading open">
                                <span class="pull-left">OCZEKUJE NA ZAAKCEPTOWANIE</span>

                                <span class="pull-right">{{order.orderDate}}</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <h3>Miejsce odbioru</h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Miasto</th>
                                        <th>Ulica</th>
                                        <th>Kod pocztowy</th>
                                        <th>Numer domu</th>
                                        <th>Numer mieszkania</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>{{order.source.city}}</td>
                                        <td>{{order.source.street}}</td>
                                        <td>{{order.source.postalCode}}</td>
                                        <td>{{order.source.homeNumber}}</td>
                                        <td>{{order.source.apartmentNumber}}</td>
                                    </tr>

                                    </tbody>
                                </table>

                                <hr>

                                <h3>Miejsce docelowe</h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Miasto</th>
                                        <th>Ulica</th>
                                        <th>Kod pocztowy</th>
                                        <th>Numer domu</th>
                                        <th>Numer mieszkania</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{order.destination.city}}</td>
                                        <td>{{order.destination.street}}</td>
                                        <td>{{order.destination.postalCode}}</td>
                                        <td>{{order.destination.homeNumber}}</td>
                                        <td>{{order.destination.apartmentNumber}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <hr>
                                <h3>Długość trasy</h3>

                                <div class="input-group">
                                    <input type="number" title="distance" class="form-control" ng-model="distance" ng-model-options="{updateOn: 'blur'}" ng-change="vm.setDistance(distance)" placeholder="Ilość kilometrów">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                                </div><!-- /.input-group-->

                                <div class="pull-right"
                                     uib-tooltip="Aby zakończyć zamówienie musisz podać długość trasy"
                                     tooltip-append-to-body="true" tooltip-enable="vm.distance == 0 || vm.distance == null"
                                     tooltip-placement="bottom">
                                    <button class="btn btn-3" ng-click="vm.finish(order)" ng-disabled="vm.distance == 0 || vm.distance == null"><i class="fa fa-check" aria-hidden="true"></i> Zamknij zamówienie</button>
                                </div>
                            </div><!-- /.panel-body-->
                            <div class="panel-footer open">
                                            <span class="pull-right">
                                                <span ng-if="order.serviceType == 1">Zlecenie Jednorazowe</span>
                                                <span ng-if="order.serviceType == 2">Zlecenie Stałe</span>
                                            </span>
                                <div class="clearfix"></div>
                            </div>
                        </div><!-- /.panel -->
                    </div><!-- /.single-order -->
                </div><!-- /.col-md-12-->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.orders -->