<!-- Users list -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="users-list">

                    <h1>UŻYTKOWNICY</h1>
                    <div class="input-group search">
                        <input class="form-control" type="text" name="search_user" placeholder="Wyszukaj użytkownika..." ng-model="search_user">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div><!-- /.input-group-->

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Login</th>
                                <th>Emial</th>
                                <th>Rola</th>
                                <th></th>
                                <th>Akcja</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in vm.users | filter: search_user">
                                <td>{{user.name}}</td>
                                <td>{{user.surname}}</td>
                                <td>{{user.login}}</td>
                                <td>{{user.mailAddress}}</td>
                                <td><span ng-repeat="role in user.roleList">{{role}}, </span></td>
                                <td></td>
                                <td>
                                    <button class="btn btn-3 btn-sm" ui-sref="user.adminEditUser({id: user.id})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edytuj</button>
                                    <button class="btn btn-3 btn-sm" ng-click="vm.deleteUser(user)"><i class="fa fa-trash-o" aria-hidden="true"></i> Usuń</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-3"  ui-sref="user.adminCreateUser"><i class="fa fa-user-plus" aria-hidden="true"></i> Stwórz użytkownika</button>
                    <button class="btn btn-3"  ng-click="vm.usersList()"><i class="fa fa-refresh" aria-hidden="true"></i> Odśwież</button>
                </section>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->