<!--  User edit profile -->
    <section class="edit-profile">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Edycja użytkownika: <span class="text-primary">{{vm.currentUser.login}}</span></h1>
                </div>

                <div class="col-md-6 user-data">
                    <h3>IMIĘ: <span class="text-primary">{{vm.currentUser.name}}</span></h3>
                    <hr>
                    <h3>NAZWISKO: <span class="text-primary">{{vm.currentUser.surname}}</span></h3>
                    <hr>
                    <h3>EMAIL: <span class="text-primary">{{vm.currentUser.mailAddress}}</span></h3>
                    <hr>
                    <h3>HASŁO: <span class="text-primary">{{vm.currentUser.password}}</span></h3>
                    <hr>
                    <h3>NUMER TELEFONU: <span class="text-primary">{{vm.currentUser.phoneNumber}}</span></h3>
                    <hr>
                    <h3>DATA URODZENIA: <span class="text-primary">{{vm.currentUser.birthDay}}</span></h3>

                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <form class="edit-user" name="editUser" ng-submit="vm.updateUser(vm.currentUser)">

                        <label>IMIĘ:</label>
                        <div class="input-group">
                            <input type="text" title="userName" class="form-control" ng-model="vm.currentUser.name">
                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div><!-- /.input-group-->

                        <label>NAZWISKO:</label>
                        <div class="input-group">
                            <input type="text" title="userSurname" class="form-control" ng-model="vm.currentUser.surname">
                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div><!-- /.input-group-->

                        <label>EMAIL:</label>
                        <div class="input-group">
                            <input type="text" title="userMailAddress" class="form-control" ng-model="vm.currentUser.mailAddress">
                            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        </div><!-- /.input-group-->

                        <label>HASŁO:</label>
                        <div class="input-group">
                            <input type="text" title="userPassword" class="form-control" ng-model="vm.currentUser.password">
                            <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                        </div><!-- /.input-group-->

                        <label>NUMER TELEFONU:</label>
                        <div class="input-group">
                            <input type="text" title="userPhoneNumber" class="form-control" ng-model="vm.currentUser.phoneNumber">
                            <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        </div><!-- /.input-group-->

                        <label>DATA URODZENIA:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="date" id="userBDay" class="form-control" name="userBDay" min="1900-01-01" />
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div><!-- /.input-group-->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->

                        <hr>

                        <button class="btn btn-3" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Zapisz</button>
                        <button class="btn btn-3" ng-click="vm.cancelEdit()"><i class="fa fa-times" aria-hidden="true"></i> Anuluj</button>
                    </form><!-- /.edit-user -->
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.edit-profile -->